
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
<script src="/js/draw_canvas.js"></script>
<select onchange="setConfig();" id="selColor">
	<option value="#FF0000">red</option>
	<option value="#00FF00" selected="">green</option>
	<option value="#0000FF">blue</option>
</select>
<select onchange="setConfig()" id="selBold">
	<option value="5">5</option>
	<option value="10" selected="">10</option>
	<option value="15">15</option>
</select>
<span>hello , somewhere</span>
<canvas id="myCanvas" width="800" height="600" style="border: 1px solid gray;"></canvas>
<button onclick="clearUCtx();" >Clear</button>

<div id="result" style="width:400px; height:400px; overflow:auto;">
	
</div>

<script>

	var currentLine = $('#selBold').val();
	var currentColor = $('#selColor').val();

	$(document).ready(function() {

		//$('#myCanvas').width($(window).width()).height($(window).height());

		//defineTouchDrawing();
		//defineMouseDrawing();

		var points = [];

		//套用 Touch 畫圖行為
		$('#myCanvas').drawTouch({
			
			lineWidth : $('#selBold').val() ,

			lineColor : $('#selColor').val() ,

			onStart : function(evt) {
				//$('#result').html('');
				var html = "<div> === Start  === </div>" ;
				$(html).appendTo('#result');
				points=[];	//reset 
			},

			onDrawing : function(evt) {
				points.push(evt);
			},

			onEnd : function() {
				var data = { color: $('#selColor').val() , pen: $('#selBold').val(), points:points};
				var jsonString = JSON.stringify(data);
				publish(jsonString);

				$('<div>' + jsonString + '</div>').appendTo('#result');

				var html = "<div> === End  === </div>" ;
				$(html).appendTo('#result');
			}

		});

		//$('#myCanvas').drawTouch({ lineColor : '#0000FF', lineWidth : 10 });

		//canvasTouch.setStrokeStyle('#FF0000');	//set to red color


		//套用 Mouse 畫圖行為
		$('#myCanvas').drawMouse({
			
			lineWidth : currentLine ,

			lineColor : currentColor,

			onStart : function(evt) {
				$('#result').html('');
				var html = "<div> === Start  === </div>" ;
				$(html).appendTo('#result');
				points=[];
			},

			onDrawing : function(evt) {
				points.push(evt);
			},

			onEnd : function() {
				var data = { color: currentColor , pen: currentLine, points:points};
				var jsonString = JSON.stringify(data);
				publish(jsonString);

				$('<div>' + jsonString + '</div>').appendTo('#result');

				var html = "<div> === End  === </div>" ;
				$(html).appendTo('#result');
			}
		});

		//change line color and line width ...
		//$('#myCanvas').drawMouse({lineWidth : 10, lineColor : '#0000FF'  });
		

	});

	var setConfig = function() {
		currentLine = $('#selBold').val();
		currentColor = $('#selColor').val();
		$('#myCanvas').drawMouse({lineWidth : currentLine, lineColor : currentColor  });
		$('#myCanvas').drawTouch({ lineColor : currentColor, lineWidth : currentLine });
	};



</script>

<script>
	
	// SEND
    var publish = function(the_message) {
    	
    	$.ajax({
		  type: "POST",
		  url: '/canvas/save_points',
		  data: "points=" + the_message,
		  success: function(msg) {
		  	//alert(msg);
		  }
		});

    };

    var clearUCtx = function() {
    	var answer = confirm("確定要清除畫面嗎？")
		if (answer){
			$.get('/canvas/clear_points', function(data) {
				//alert(data);
				var el = document.getElementsByTagName("canvas")[0];
		  		var ctx = el.getContext("2d");
	        	ctx.clearRect(0,0,800,600);
			});
			
		}
    	
    };

</script>
