<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" >
		<meta charset="utf-8" >
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
		<!-- bootstrap css -->
		<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" >
		<link href="/css/default.css" rel="stylesheet" >
	</head>
	<body>
		<div class="container">
			<div class="toolbar">
				<ul class="navigation">
					<li class="color">
						<a href="#" class="" >
							<span></span>
							顏色
						</a>
						<ul>
							<li class="red">
								<a href="#">
									<span></span>
									紅色
								</a>
							</li>
							<li class="green">
								<a href="#">
									<span></span>
									綠色
								</a>
							</li>
							<li class="blue">
								<a href="#">
									<span></span>
									藍色
								</a>
							</li>
							<li class="black">
								<a href="#">
									<span></span>
									黑色
								</a>
							</li>
							<li class="yellow">
								<a href="#">
									<span></span>
									黃色
								</a>
							</li>
							<li class="brown">
								<a href="#">
									<span></span>
									棕色
								</a>
							</li>
							<li class="purple">
								<a href="#">
									<span></span>
									紫色
								</a>
							</li>
						</ul>
					</li>
					<li class="pen">
						<a href="#" title="pen" >
							<span></span>
							筆觸
						</a>
						<ul>
							<li class="thin">
								<a href="#" title="細筆">
									<span></span>
									細筆
								</a>
							</li>
							<li class="medium">
								<a href="#" title="中筆">
									<span></span>
									中筆
								</a>
							</li>
							<li class="thick">
								<a href="#" title="粗筆">
									<span></span>
									粗筆
								</a>
							</li>
							<li class="text">
								<a href="#" title="Text">
									<span></span>
									文字
								</a>
							</li>
							<li class="eraser">
								<a href="#" title="橡皮擦">
									<span></span>
									橡皮擦
								</a>
							</li>
						</ul>
					</li>
					<li class="setting">
						<a href="#" class="" >
							<span></span>
							設定
						</a>
						<ul>
							<li class="replay">
								<a href="#" title="播放">
									<span></span>
									播放
								</a>
							</li>
							<li class="save">
								<a href="#" title="儲存">
									<span></span>
									儲存
								</a>
							</li>
							<li class="clear">
								<a href="#" title="清除">
									<span></span>
									清除
								</a>
							</li>
						</ul>
					</li> <!-- end of setting -->
					<li class="play" style="margin-top:10px;">
						<a href="#" title="play">
							<span></span>
							播放
						</a>
					</li>
					<li class="undo">
						<a href="#" title="undo">
							<span></span>
							Undo
						</a>
					</li>
					<li class="redo">
						<a href="#" title="redo">
							<span></span>
							Redo
						</a>
					</li>
				</ul>
			</div>

			<div class="whiteboard" style="width:800px;height:600px;">
				<!-- <canvas id="myCanvas" width="800" height="600" style="padding: 0px; margin: 0px; border: 0px;"></canvas> -->
			</div>

		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
		<script src="/js/bootstrap.min.js" ></script>
		<script src="/js/draw_canvas.js"></script>
		<script src="/js/stroke_player.js"></script>
		<script src="/js/drawui.js"></script>
		<script>


		</script>
	</body>
<html>